<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="../../../../../../dev/tests/integration/framework/bootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         verbose="true">
    <testsuites>
        <testsuite name="Somnia Payment Gateway Integration Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
</phpunit>
